@charset "UTF-8";
@font-face {
  font-family: "Cascadia Mono2";
  src: url("/style/Cascadia.woff") format("woff2"), url("/style/Cascadia.woff") format("woff");
  /* Add other font formats here if needed */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cascadia Mono";
}

.loading {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.background {
  background-size: 5.625rem 5.625rem;
  background-image: linear-gradient(to right, rgba(10, 19, 180, 0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(10, 19, 180, 0.1), transparent 1px);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 200vh;
}

html {
  font-size: 12.406px;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vw;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  width: 100vw;
}
header .left {
  position: relative;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #efeeeb;
}
header .left nav {
  position: absolute;
  top: 3rem;
  margin: 0 auto;
  z-index: 100000;
}
header .left nav ul {
  display: flex;
  width: 40rem;
  height: 2.375rem;
  flex-shrink: 0;
  justify-content: space-between;
  font-family: "Cascadia Mono";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 2.8125rem */
  font-size: 1.5625rem;
}
header .left nav ul li {
  text-align: center;
  width: 12.47956rem;
}
header .left nav ul li a {
  color: #18106c;
  text-decoration: none;
}
header .left .content {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
header .left .content .typography {
  z-index: 1;
  gap: 1.8rem;
  display: flex;
}
header .left .content .typography .sign {
  width: 9.9375rem;
  height: 6.1875rem;
  flex-shrink: 0;
}
header .left .content .typography .title {
  width: 44.6875rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
header .left .content h1 {
  color: #18106c;
  /* Headline */
  font-family: "Cascadia Mono";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 350;
  line-height: 150%;
  /* 3.75rem */
  letter-spacing: 0.05rem;
}
header .left .content h1 strong {
  font-weight: 400;
  color: #1ca4cd;
}
header .left .content h2 {
  color: #18106c;
  font-family: "Cascadia Mono";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 1.875rem */
  letter-spacing: 0.025rem;
}
header .left .content h2 strong {
  font-weight: 600;
  color: #1ca4cd;
}
header .left .content .social-icon {
  display: flex;
  align-items: center;
  gap: 5rem;
}
header .left .content .social-icon a img {
  width: 2.31269rem;
  height: 2.31269rem;
  transition: transform 0.3s ease-in-out;
}
header .left .content .social-icon a:hover img {
  transform: scale(1);
}
header .left .content .cloud1 {
  background: url("../assets/cloud 1.png");
  width: 12.8125rem;
  height: 12.8125rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 6rem;
  left: 7rem;
}
header .left .content .cloud2 {
  background: url("../assets/cloud 2.png");
  width: 12.8125rem;
  height: 12.8125rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 30rem;
  left: 1rem;
}
header .left .content .cloud3 {
  background: url("../assets/cloud 3.png");
  width: 12.8125rem;
  height: 12.8125rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 12rem;
  left: 47rem;
}
header .right {
  background: #fff2c5;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .right section {
  z-index: 10;
}
header .right section .avatar {
  background: url("../assets/Ly Tinh.png");
  width: 36.8125rem;
  height: 37.78125rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.left a {
  text-decoration: none;
  color: #fff;
  position: absolute;
  /* Thêm dòng này để làm cho ::after hoạt động đúng */
}

.left a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  /* Thay đổi giá trị width để bắt đầu không hiển thị */
  height: 3px;
  background: #18106C;
  border-radius: 3px;
  transform-origin: left center;
  /* Thêm dòng này để transform hoạt động đúng */
  transform: scaleX(0);
  transition: width 0.5s, transform 0.5s;
  /* Thay đổi transition để hiệu ứng hoạt động đúng */
}

.left a:hover::after {
  width: 100%;
  /* Thay đổi width để hiển thị đầy đủ */
  transform: scaleX(1);
}

.img-list {
  position: absolute;
  top: 41rem;
  left: 10.625rem;
  display: flex;
  width: 53.6875rem;
  height: 11.375rem;
  justify-content: space-between;
}
.img-list img {
  width: 11.375rem;
  height: 11.375rem;
}

.line-bg {
  position: absolute;
  width: 100rem;
  height: 100vh;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background: url("../assets/line-bg.png");
  right: -22rem;
  z-index: 0;
}

.abc {
  width: 100vw;
  height: 120vh;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  transition: background-image 0.5s ease-in-out;
  /* Thêm hiệu ứng transition cho background image */
}

.abc:hover {
  background-image: url("/assets/Rectangle 18.png");
  /* Thay đổi background image khi hover */
}

.matlitinh {
  background-image: url("/assets/Rectangle 11.png");
  width: 404px;
  height: 450px;
  bottom: -20px;
  left: 180px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  position: relative;
}

.typography2 {
  color: #18106C;
  /* Màu chữ mặc định */
  /* Headline */
  font-family: "Cascadia Mono";
  font-size: 2.5rem;
  bottom: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 3.75rem */
  letter-spacing: 0.05rem;
  transition: color 0.5s;
  /* Thêm hiệu ứng transition cho color text */
}

.typography2 h2 {
  margin: 60px;
  font-family: "Cascadia Mono2";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

.typography2 h2 strong {
  color: var(--semantic-1, #1CA4CD);
  font-family: "Cascadia Mono2";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.abc:hover .typography2 {
  color: #FFF;
  transition: color 0.2s ease-in-out;
}

.abc:hover .typography2 strong {
  color: var(--primary-3, #D9D9D9);
  font-size: 25px;
  font-style: normal;
  transition: color 0.2s ease-in-out;
  /* Thêm hiệu ứng transition cho background image */
}

.leader {
  display: flex;
  color: #18106C;
  margin-left: 90rem;
  margin-top: 5rem;
  flex-shrink: 0;
  text-align: center;
  color: var(--neutral-2, #18106C);
  text-align: center;
  font-family: "Cascadia Mono2";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 67.5px */
  letter-spacing: 0.9px;
}

.explore h2 {
  color: var(--neutral-2, #18106c);
  text-align: center;
  font-family: Cascadia Mono;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 42px */
}/*# sourceMappingURL=style.css.map */